.itemCardMainDiv {
	margin: 20px;
	box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
	border-radius: 8px;
	background-color: rgb(255, 255, 255);
	padding: 2px;
	div {
		.productImage {
			display: flex;
			flex-direction: column;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 20px;
			div:nth-child(1) {
				display: flex;
				justify-content: space-between;
				.discountTag {
					background-color: #d23f57;
					color: #fff;
					border-radius: 16px;
					height: 25px;
					width: 58px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 10px;
					font-weight: 600;
					position: relative;
					z-index: 99;
				}
				.addToFav {
					z-index: 99;
					height: 25px;
					div {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						color: #2b3445;
						div {
							border-radius: 100px;
							height: 25px;
							width: 25px;
							display: none;
							justify-content: center !important;
							align-items: center;
						}
						.eyeIcon:hover,
						.heartIcon:hover {
							background-color: rgba(0, 0, 0, 0.04);
							border-radius: 100px;
							box-shadow: 0px 1px 3px rgb(3 0 71 / 9%);
							height: 25px;
							width: 25px;
						}
					}
				}
			}
		}
		.productDetail {
			font-size: 14px;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 12px;
			display: flex;
			justify-content: space-between;
			.productDet {
				div {
					margin-top: 5px;
					margin-bottom: 5px;
				}
				div:nth-child(1) > a > h3 {
					padding: 0%;
					margin: 0%;
					color: rgb(55, 63, 80);
					font-weight: 400;
				}
				div:nth-child(3) {
					span {
						color: rgb(210, 63, 87);
						padding-right: 12px;
					}
					del {
						color: rgb(125, 135, 156);
					}
				}
			}
			.addToCardBut {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				div:nth-child(1),
				div:nth-child(3) {
					border: 1px solid #d23f57;
					color: #d23f57;
					border-radius: 4px;
					height: 25px;
					width: 25px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				div:nth-child(1):hover,
				div:nth-child(3):hover {
					border: 1px solid rgba(210, 63, 87, 0.5);
				}
				div:nth-child(1):active,
				div:nth-child(3):active {
					background-color: rgba(210, 63, 87, 0.5);
				}
				div:nth-child(2) {
					margin-top: 5px;
					margin-bottom: 5px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	div:hover {
		.addToFav > div > div {
			display: flex !important;
		}
	}
}
