.mainDivTopCategory {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	div {
		div {
			.topCategoryCarousel {
				// max-width: 1160px;
				.slick-next,
				.slick-prev {
					color: #0f3460;
					z-index: 99999;
					height: 35px;
					width: 35px;
				}
				.slick-next {
					margin-right: 25px;
				}
				.slick-prev {
					margin-left: 25px;
				}
			}
		}
	}
}
