.mainDivTopCategory {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	div {
		div {
			.topCategoryCarousel {
				.slick-next,
				.slick-prev {
					height: 35px;
					width: 35px;
					padding: 6px;
					background-color: #0f3460;
					color:#fff;
					border-radius: 50%;
					z-index: 99;
				}
				.slick-next {
					margin-right: 25px;
				}
				.slick-prev {
					margin-left: 25px;
				}
			}
		}
	}
}
