.mainDivFlashDeal {
	display: flex;
	justify-content: center;
	position: relative;
	.flashDealCarousel {
		height: 100px;
		// max-width: 1000px;
		background-color: yellowgreen;
		display: flex !important;
		justify-content: center !important;
		div {
			display: flex !important;
			justify-content: center !important;
			background-color: yellow;
			max-width: 500px;
			div {
				// width: 100% !important;
				margin: 10px !important;
				// background-color: blue !important;
				div {
					background-color: orange;
					div {
						background-color: pink;
						.productCardMainDiv > div {
							background-color: red;
							height: 200px !important;
							width: 200px !important;
						}
					}
				}
			}
		}
	}
}
