.mainDivFlashDeal {
	display: flex;
	justify-content: center;
	div {
		div {
			.flashDealTitle {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				h2 {
					color: #2b3445;
				}
			}
			.itemsView {
				height: 500px;
				background-color: aqua;
				padding-left: 25px;
				padding-right: 25px;

				.flashDealCarousel {
					max-width: 1160px;
				}
			}
		}
	}
}
