.dropDownItem {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.dropDownItem div {
	background-color: rgb(255, 255, 255);
	color: rgb(43, 52, 69);
	border-radius: 4px;
	box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px,
		rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
	position: absolute;
	width: 50px;
}
.listItem {
	margin-top: 27px;
	display: absolute;
}
.listItem > p {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	height: 35px;
	align-items: center;
}
.listItem > p:hover {
	background-color: rgba(0, 0, 0, 0.04);
}
