.headerCarouselMainDiv {
	display: flex;
	justify-content: center;
	.headerCarousel > div {
		max-width: 1160px;
		height: fit-content;
		max-height: 500px;
		div:nth-child(2) > div > div,
		div:nth-child(3) > div > div {
			width: 100% !important;
			max-width: 1160px;
			// max-height: 423px;
			display: flex !important;
			justify-content: center !important;
			.headerCarouselText {
				display: flex;
				align-items: center;
				max-width: 500px;
				padding-left: 80px;
				div {
					// max-width: 400px;
					h1 {
						font-size: 50px;
						font-weight: 650;
						line-height: 1.2em;
						// padding-right: 6px;
						font-family: Open Sans, Roboto, -apple-system, BlinkMacSystemFont,
							Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
							Helvetica Neue, sans-serif;
					}
					p {
						font-size: 14px;
						color: #2b3445;
						line-height: 1.9em;
					}
					button {
						width: 125px;
						height: 44px;
						background-color: rgb(210, 63, 87);
						color: rgb(255, 255, 255);
						border-radius: 8px;
						border: none;
						transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
							box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
							border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
							color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
					}
					button:hover {
						background-color: rgb(227, 54, 78);
					}
				}
			}
			.headerCarouselImage {
				display: flex;
				align-items: center;
				max-width: 500px;
				padding-right: 80px;
			}
		}
		@media screen and (max-width: 599px) {
			div:nth-child(2) > div > div,
			div:nth-child(3) > div > div {
				display: flex !important;
				flex-direction: column !important;
				justify-content: center !important;
				.headerCarouselText {
					padding-left: 25px;
					max-width: 100%;
					div {
						h1 {
							font-size: 32px;
						}
					}
				}
				.headerCarouselImage {
					margin: 0% auto !important;
					max-width: 428px !important;
					max-height: 423 !important;
					padding-right: 0% !important;
				}
			}
		}
	}
	@media screen and (max-width: 599px) {
		.headerCarousel > div {
			max-height: 530px;
		}
	}
}
